# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.fvmrc
/.fvm/

/pubspec.lock
/packages/responsive_s/pubspec.lock
/lib/core/managers/assets_managers/fonts.gen.dart
/lib/core/managers/service_locator/injection.config.dart
/lib/core/managers/service_locator/injection.c*

/lib/core/managers/assets_managers/assets.gen.dart
/lib/generated/codegen_loader.g.dart
/lib/generated/keys.g.dart

lib/feature/profile/presentation/managers/change_password/change_password_bloc.freezed.dart
lib/feature/profile/presentation/managers/account_details/account_details_bloc.freezed.dart
*.freezed.dart
.vscode/settings.json
.vscode/settings.json

# FVM Version Cache
.fvm/